body {
    background-color: #f9f9f9;
    font-family: sans-serif;
    padding: 30px;
}

h1 {
    color: #ff6600;
}

header {
    margin-top: 5px;
    width: 200px;
    
}

header h1 {
    color: #ffcc00;
    font-weight: 300;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
}



